

body{
  background-color: white;
  font-family: Arial, sans-serif;
  /*max-width to make responsive my web*/
  max-width: 1200px;
  margin-inline: auto;
  font-size: 20px;
  padding: 0 2rem;
 

} 

header {
  margin:  0 auto;
  width: 80%;
  padding: 1rem 3rem;

}

main {
  margin: 0 auto;
  width: 80%;
}
h1 {font: 1em sans-serif;
font-size: 32px;}

.number {
  color: lightgray;
  text-decoration: line-through;
}

.forgot {
  padding: auto;
}
.dismiss {
  padding: auto;
}

p {
  color: gray;
}
form {
    width: 80%;
    margin: auto;

  }
  
  label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    /*border: 1px solid #ccc;
    border-radius: 4px;*/
    border: none;
    border-bottom:2px solid lightgrey;
  }
  
  input[type="checkbox"] {
    margin-top: 5px;
  }
  /*
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: blue;
  }
 
    */


.profile-name {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    
    border-radius: 4px;
  
}
/*profile-image to a little circle*/
.profile-image {
    display: block;
    margin: 0 500px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}


  a.button:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
  }
  
  a.button:hover, a.button:active {
    background-color: green;
  }

  a.forgot:link, a.forgot:visited {
    text-decoration: none;
    color: black;
  }
  a.forgot:hover, a.forgot:active{
    text-decoration: underline;
    color: black;

  }
  a.dismiss:link, a.dismiss:visited {
    text-decoration: none;
    color: black;
  }
  a.dismiss:hover, a.dismiss:active{
    text-decoration: underline;
    color: black;}
 .button {
    width: 100%;
  }
  
  /*order for links with flex in the same line*/
  .link-order {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    place-items: center;
  }

  img {
    border-radius: 10px;
  }
  
  .footer {
    margin: 0 auto;
    max-width: 960px;
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 8rem;
    place-items: center;
  }





/*icons style ta*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
   black, 
}




